### Importação dos dados

In [78]:
import pandas as pd

url = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_1.csv"
url2 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_2.csv"
url3 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_3.csv"
url4 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

In [79]:
# uso la funcion 'head()' para visualizar las primeras 5 filas de los Dataframes.

head_loja1 = loja1.head()

head_loja2 = loja2.head()

head_loja3 = loja3.head()

head_loja4 =loja4.head()

In [97]:
#uso la funcion 'info() para visualizar un resumen general de los DataFrames, como por ejemplo:
'''
- Cantidad de filas
- Cantidad de columnas
- Nombre de cada columna
- Tipo de dato de cada columna
- Cantidad de valores no nulos por columna
- Uso de memoria total
'''
info_loja1 =loja1.info()

info_loja2 =loja2.info()

info_loja3 =loja3.info()

info_loja4 =loja4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   datetime64[ns]
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
 12  valor_total             2359 non-null   float64
 13  mes                     2359 non-null   period[M]
dtypes: datetime64[ns](1), float64(5), int64(2), object(5), period[M](1)
memory usage: 258.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   datetime64[ns]
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
 12  valor_total             2359 non-null   float64
 13  mes                     2359 non-null   period[M]
dtypes: datetime64[ns](1), float64(5), int64(2), object(5), period[M](1)
memory usage: 258.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   datetime64[ns]
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
 12  valor_total             2359 non-null   float64
 13  mes                     2359 non-null   period[M]
dtypes: datetime64[ns](1), float64(5), int64(2), object(5), period[M](1)
memory usage: 258.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2358 non-null   object
 1   Categoria do Produto    2358 non-null   object
 2   Preço                   2358 non-null   float64
 3   Frete                   2358 non-null   float64
 4   Data da Compra          2358 non-null   datetime64[ns]
 5   Vendedor                2358 non-null   object
 6   Local da compra         2358 non-null   object
 7   Avaliação da compra     2358 non-null   int64
 8   Tipo de pagamento       2358 non-null   object
 9   Quantidade de parcelas  2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
 12  valor_total             2358 non-null   float64
 13  mes                     2358 non-null   period[M]
dtypes: datetime64[ns](1), float64(5), int64(2), object(5), period[M](1)
memory usage: 258.0+ KB

In [100]:
# uso el metodo 'shape' para saber cuántas filas y columnas tiene los Dataframes

filas_loja1, columnas_loja1 = loja1.shape
print(f"El DataFrame loja1 tiene {filas_loja1} filas y {columnas_loja1} columnas.")

filas_loja2, columnas_loja2 = loja1.shape
print(f"El DataFrame loja2 tiene {filas_loja2} filas y {columnas_loja2} columnas.")

filas_loja3, columnas_loja3 = loja1.shape
print(f"El DataFrame loja3 tiene {filas_loja3} filas y {columnas_loja3} columnas.")

filas_loja4, columnas_loja4 = loja1.shape
print(f"El DataFrame loja4 tiene {filas_loja4} filas y {columnas_loja4} columnas.")

El DataFrame loja1 tiene 2359 filas y 14 columnas.
El DataFrame loja2 tiene 2359 filas y 14 columnas.
El DataFrame loja3 tiene 2359 filas y 14 columnas.
El DataFrame loja4 tiene 2359 filas y 14 columnas.

#1. Análise do faturamento

In [85]:
# suponiendo que el flete lo paga el cliente
## Precio del producto + Flete (costo de envío)
# La columna "loja1['valor_total']"" representa la facturación total por cada venta.
loja1['valor_total'] = loja1['Preço'] + loja1['Frete']


loja2['valor_total'] = loja2['Preço'] + loja2['Frete']


loja3['valor_total'] = loja3['Preço'] + loja3['Frete']


loja4['valor_total'] = loja4['Preço'] + loja4['Frete']

In [86]:
#calculando la facturación total por lojas:
facturacion_total_loja1 = loja1['valor_total']


facturacion_total_loja2 = loja2['valor_total']


facturacion_total_loja3 = loja3['valor_total']


facturacion_total_loja4 = loja4['valor_total']

In [87]:
# Facturacion por producto por lojas:
facturacion_por_producto_loja1 = loja1.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)


facturacion_por_producto_loja2 = loja2.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)


facturacion_por_producto_loja3 = loja3.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)


facturacion_por_producto_loja4 = loja4.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

In [91]:
# factuiracion mensual(por fecha) convirtiendo la columna de fecha
loja1['Data da Compra'] = pd.to_datetime(loja1['Data da Compra'], dayfirst=True)

loja2['Data da Compra'] = pd.to_datetime(loja2['Data da Compra'], dayfirst=True)

loja3['Data da Compra'] = pd.to_datetime(loja3['Data da Compra'], dayfirst=True)

loja4['Data da Compra'] = pd.to_datetime(loja4['Data da Compra'], dayfirst=True)

In [92]:
# creo una columna llamada mes para agruparla por mes:
loja1['mes'] = loja1['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja1 = loja1.groupby('mes')['valor_total'].sum()

loja2['mes'] = loja2['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja2 = loja2.groupby('mes')['valor_total'].sum()

loja3['mes'] = loja3['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja3 = loja3.groupby('mes')['valor_total'].sum()

loja4['mes'] = loja4['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja4 = loja4.groupby('mes')['valor_total'].sum()

# 2. Vendas por Categoria

In [93]:
# agrupo por 'categoria do Produto'

ventas_por_categoria_loja1 = loja1.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

ventas_por_categoria_loja2 = loja2.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

ventas_por_categoria_loja3 = loja3.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

ventas_por_categoria_loja4 = loja4.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

# 3. Média de Avaliação das Lojas

In [94]:
# uso la funcion 'mean()' para calcular el promedio con pandas porque con el mismo me aseguro de ingnorar los valores NaN
media_loja1 = loja1['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja1}")

media_loja2 = loja2['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja2}")

media_loja3 = loja3['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja3}")

media_loja4 = loja4['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja4}")

El promedio de puntuacion da loja1 es : 3.976685036032217
El promedio de puntuacion da loja1 es : 4.037303942348453
El promedio de puntuacion da loja1 es : 4.048325561678677
El promedio de puntuacion da loja1 es : 3.9957591178965224

# 4. Produtos Mais e Menos Vendidos

In [95]:
# productos mas vendidos
'''
1) Contamos cuántas veces aparece cada valor único con la funcion integrada 'value_counts()'
2) Verificamos cual el el producto más vendido con la función integrada 'idxmax()'
3) De los productos contados verificamos cual/les tiene/n el valor máximo con la función integrada 'max()' para saber el numero especifico
'''
cantidad_productos_vendidos_loja1 = loja1['Produto'].value_counts()
nombre_producto_mas_vendido_loja1 = cantidad_productos_vendidos_loja1.idxmax()
valor_maximo_cantidad_vendidos_loja1 = cantidad_productos_vendidos_loja1.max()

print(f"Producto más vendido en loja1: {nombre_producto_mas_vendido_loja1} ({valor_maximo_cantidad_vendidos_loja1} ventas)")

cantidad_productos_vendidos_loja2 = loja2['Produto'].value_counts()
nombre_producto_mas_vendido_loja2 = cantidad_productos_vendidos_loja2.idxmax()
valor_maximo_cantidad_vendidos_loja2 = cantidad_productos_vendidos_loja2.max()

print(f"Producto más vendido en loja2: {nombre_producto_mas_vendido_loja2} ({valor_maximo_cantidad_vendidos_loja2} ventas)")

cantidad_productos_vendidos_loja3 = loja3['Produto'].value_counts()
nombre_producto_mas_vendido_loja3 = cantidad_productos_vendidos_loja3.idxmax()
valor_maximo_cantidad_vendidos_loja3 = cantidad_productos_vendidos_loja3.max()

print(f"Producto más vendido en loja3: {nombre_producto_mas_vendido_loja3} ({valor_maximo_cantidad_vendidos_loja3} ventas)")

cantidad_productos_vendidos_loja4 = loja4['Produto'].value_counts()
nombre_producto_mas_vendido_loja4 = cantidad_productos_vendidos_loja4.idxmax()
valor_maximo_cantidad_vendidos_loja4 = cantidad_productos_vendidos_loja4.max()

print(f"Producto más vendido en loja4: {nombre_producto_mas_vendido_loja4} ({valor_maximo_cantidad_vendidos_loja4} ventas)")

Producto más vendido en loja1: Micro-ondas (60 ventas)
Producto más vendido en loja2: Iniciando em programação (65 ventas)
Producto más vendido en loja3: Kit banquetas (57 ventas)
Producto más vendido en loja4: Cama box (62 ventas)

# 5. Frete Médio por Loja

In [96]:
# uso la funcion 'mean()' para calcular el promedio con pandas porque con el mismo me aseguro de ingnorar los valores NaN
flete_promedio_loja1 = loja1['Frete'].mean()
print("El promedio de facturacion de felete da loja1 es :", flete_promedio_loja1)

flete_promedio_loja2 = loja2['Frete'].mean()
print("El promedio de facturacion de felete da loja1 es :", flete_promedio_loja2)

flete_promedio_loja3 = loja3['Frete'].mean()
print("El promedio de facturacion de felete da loja1 es :", flete_promedio_loja3)

flete_promedio_loja4 = loja4['Frete'].mean()
print("El promedio de facturacion de felete da loja1 es :", flete_promedio_loja4)

El promedio de facturacion de felete da loja1 es : 34.69180491551149
El promedio de facturacion de felete da loja1 es : 33.62194065817927
El promedio de facturacion de felete da loja1 es : 33.07446427411743
El promedio de facturacion de felete da loja1 es : 31.278997081841727