### Importação dos dados

In [67]:
import pandas as pd

url = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_1.csv"
url2 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_2.csv"
url3 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_3.csv"
url4 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

In [68]:
loja1.head()        # primeras 5 filas

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [69]:
loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

In [70]:
loja3.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Secadora de roupas,eletrodomesticos,1713.50,88.823159,17/12/2021,Camila Ribeiro,CE,4,cartao_credito,4,-5.20,-39.53
1,Cômoda,moveis,386.81,18.180908,10/02/2021,Larissa Alves,RS,3,cartao_credito,1,-30.17,-53.50
2,Violão,instrumentos musicais,404.62,23.197592,22/01/2023,Lucas Oliveira,SP,5,cartao_credito,3,-22.19,-48.79
3,Bola de vôlei,esporte e lazer,78.40,4.463341,22/03/2022,Pedro Gomes,BA,4,cartao_credito,6,-13.29,-41.71
4,Guarda roupas,moveis,694.76,34.578319,12/01/2022,Bianca Santos,SP,1,cartao_credito,1,-22.19,-48.79

In [71]:
loja4.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Lava louças,eletrodomesticos,1446.46,74.604083,11/11/2022,Rafael Costa,SP,4,cartao_credito,3,-22.19,-48.79
1,Cama box,moveis,631.70,33.919251,03/01/2020,Thiago Silva,GO,5,cartao_credito,2,-15.98,-49.86
2,Bola de basquete,esporte e lazer,31.54,0.000000,25/12/2022,Larissa Alves,MG,5,boleto,1,-18.10,-44.38
3,Modelagem preditiva,livros,76.93,1.680730,23/11/2021,Lucas Oliveira,MG,3,boleto,1,-18.10,-44.38
4,Fone de ouvido,eletronicos,185.14,7.442587,25/04/2022,Bianca Santos,SP,4,cartao_credito,7,-22.19,-48.79

In [72]:
loja1.info(),loja2.info(),loja3.info(),loja4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2358 non-null   object
 1   Categoria do Produto    2358 non-null   object
 2   Preço                   2358 non-null   float64
 3   Frete                   2358 non-null   float64
 4   Data da Compra          2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Local da compra         2358 non-null   object
 7   Avaliação da compra     2358 non-null   int64
 8   Tipo de pagamento       2358 non-null   object
 9   Quantidade de parcelas  2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

(None, None, None, None)

In [38]:
loja1.shape,loja2.shape,loja3.shape,loja4.shape

((2359, 12), (2359, 12), (2359, 12), (2358, 12))

#1. Análise do faturamento

In [73]:
# suponiendo que el flete lo paga el cliente
## Precio del producto + Flete (costo de envío)
# La columna "loja1['valor_total']"" representa la facturación total por cada venta.
loja1['valor_total'] = loja1['Preço'] + loja1['Frete']
loja1['valor_total']

loja2['valor_total'] = loja2['Preço'] + loja2['Frete']
loja2['valor_total']

loja3['valor_total'] = loja3['Preço'] + loja3['Frete']
loja3['valor_total']

loja4['valor_total'] = loja4['Preço'] + loja4['Frete']
loja4['valor_total']

0       1521.064083
1        665.619251
2         31.540000
3         78.610730
4        192.582587
           ...
2353     320.452799
2354     480.832798
2355      52.129675
2356     213.512979
2357      16.622696
Name: valor_total, Length: 2358, dtype: float64

In [74]:
#calculando la facturación total:
facturacion_total_loja1 = loja1['valor_total']


facturacion_total_loja2 = loja2['valor_total']


facturacion_total_loja3 = loja3['valor_total']


facturacion_total_loja4 = loja4['valor_total']
facturacion_total_loja1,facturacion_total_loja2,facturacion_total_loja3,facturacion_total_loja4

(0        228.329790
 1        267.584305
 2        300.772681
 3       1064.657344
 4        473.954689
            ...
 2354    1801.312042
 2355     397.383958
 2356     173.431337
 2357     968.435919
 2358     271.375995
 Name: valor_total, Length: 2359, dtype: float64,
 0        398.621138
 1        105.405334
 2        622.889020
 3       1270.159584
 4        556.237176
            ...
 2354     197.856135
 2355    1713.757994
 2356    1121.027917
 2357    3121.220107
 2358     771.320744
 Name: valor_total, Length: 2359, dtype: float64,
 0       1802.323159
 1        404.990908
 2        427.817592
 3         82.863341
 4        729.338319
            ...
 2354      38.445973
 2355      45.323620
 2356     670.259188
 2357     170.474933
 2358      97.140214
 Name: valor_total, Length: 2359, dtype: float64,
 0       1521.064083
 1        665.619251
 2         31.540000
 3         78.610730
 4        192.582587
            ...
 2353     320.452799
 2354     480.832798
 2355      52.129675
 2356     213.512979
 2357      16.622696
 Name: valor_total, Length: 2358, dtype: float64)

In [75]:
# Facturacion por producto loja1:
loja1.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

Produto
TV Led UHD 4K                  199655.829463
Geladeira                      157500.099189
Celular Plus X42               137521.574030
Smart TV                        94742.705144
Lavadora de roupas              92352.823633
Lava louças                     87144.745063
Secadora de roupas              82955.128724
Tablet ABXY                     66925.172768
Bateria                         52940.595602
Guitarra                        52388.415285
Micro-ondas                     48773.571210
Celular ABXY                    45864.610491
Sofá retrátil                   44105.228246
Cama king                       43791.703151
Fogão                           41951.952752
Guarda roupas                   41368.167664
Bicicleta                       38524.660848
Cama box                        31000.844856
Cadeira de escritório           24815.704367
Impressora                      23046.182860
Cômoda                          22012.038644
Violão                          19763.603832
Kit banquetas                   17038.387737
Mesa de jantar                  14790.742303
Poltrona                        13850.649332
Assistente virtual              11310.659252
Mesa de centro                  10731.851036
Jogo de tabuleiro               10679.152467
Smartwatch                      10437.051848
Jogo de panelas                  8853.273710
Fone de ouvido                   7105.069728
Headset                          6669.383077
Mochila                          5402.706820
Carrinho controle remoto         5268.434954
Modelagem preditiva              4434.658831
Bola de basquete                 3854.443027
Panela de pressão                3683.760805
Copo térmico                     3500.950972
Faqueiro                         3345.363339
Pandeiro                         3150.881141
Iniciando em programação         2954.017718
Bola de vôlei                    2952.790590
Ciência de dados com python      2892.919381
Boneca bebê                      2728.815165
Blocos de montar                 2610.580217
Dashboards com Power BI          2054.814313
Xadrez de madeira                2017.950173
Jogo de copos                    1906.983744
Dinossauro Rex                   1011.492306
Cubo mágico 8x8                   982.840678
Corda de pular                    981.105309
Name: valor_total, dtype: float64

In [76]:
# Facturacion por producto loja2:
loja2.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

Produto
Celular Plus X42               159007.344291
TV Led UHD 4K                  145170.127158
Geladeira                      137098.247261
Lavadora de roupas              93773.448211
Smart TV                        85869.744637
Secadora de roupas              83003.572697
Lava louças                     82533.336137
Tablet ABXY                     78929.555990
Bateria                         64853.124926
Celular ABXY                    58514.386885
Guitarra                        51152.189252
Micro-ondas                     50824.468341
Fogão                           42266.056396
Sofá retrátil                   41415.723613
Cama king                       39588.609341
Guarda roupas                   36766.442838
Cama box                        34205.283429
Bicicleta                       32231.314620
Violão                          26188.635025
Cadeira de escritório           26022.772229
Kit banquetas                   17692.858149
Cômoda                          17204.408336
Impressora                      14597.897201
Mesa de jantar                  12147.582000
Poltrona                        11822.791921
Jogo de panelas                 11182.680671
Assistente virtual              11123.665507
Mesa de centro                  10950.577658
Smartwatch                      10776.163997
Jogo de tabuleiro                8158.004574
Headset                          7892.227559
Mochila                          6185.747068
Pandeiro                         5203.141610
Fone de ouvido                   4977.161537
Panela de pressão                4940.629963
Carrinho controle remoto         4623.615486
Iniciando em programação         4386.659904
Modelagem preditiva              4190.933266
Ciência de dados com python      3368.916115
Boneca bebê                      3288.479422
Bola de vôlei                    3227.251144
Copo térmico                     2994.205088
Bola de basquete                 2949.556430
Blocos de montar                 2518.336947
Faqueiro                         2416.946328
Dashboards com Power BI          2249.327163
Jogo de copos                    2190.854699
Xadrez de madeira                1821.173925
Corda de pular                   1240.822591
Dinossauro Rex                   1082.826164
Cubo mágico 8x8                   953.392313
Name: valor_total, dtype: float64

In [77]:
# Facturacion por producto loja3:
loja3.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

Produto
Geladeira                      140243.614146
TV Led UHD 4K                  135754.037928
Celular Plus X42               130945.473778
Smart TV                       110673.681919
Lava louças                     90381.254834
Tablet ABXY                     82073.323288
Lavadora de roupas              80675.937712
Secadora de roupas              69961.805970
Celular ABXY                    60971.074853
Cama king                       54582.593899
Fogão                           54164.171011
Sofá retrátil                   42577.085384
Guitarra                        41909.231304
Bateria                         41234.058946
Cama box                        34677.388039
Bicicleta                       34643.968478
Guarda roupas                   34001.307509
Micro-ondas                     26883.679880
Cadeira de escritório           25823.284843
Kit banquetas                   23465.648204
Cômoda                          21567.718060
Violão                          20960.137284
Mesa de jantar                  20103.882557
Impressora                      19981.393135
Poltrona                        15939.142921
Jogo de tabuleiro               13660.895972
Jogo de panelas                 12226.307062
Smartwatch                      11248.992770
Assistente virtual              11242.092380
Mesa de centro                   9737.183410
Headset                          8385.684625
Fone de ouvido                   5564.633979
Carrinho controle remoto         5232.100923
Mochila                          4971.787299
Panela de pressão                4738.356656
Modelagem preditiva              4737.353598
Pandeiro                         4549.117145
Bola de basquete                 3474.650349
Ciência de dados com python      3438.850290
Bola de vôlei                    3286.695307
Iniciando em programação         3223.555999
Boneca bebê                      2717.061460
Faqueiro                         2487.900713
Copo térmico                     2433.890639
Dashboards com Power BI          1926.617676
Xadrez de madeira                1874.743848
Blocos de montar                 1718.113501
Jogo de copos                    1710.901434
Corda de pular                   1209.625663
Dinossauro Rex                   1141.164853
Cubo mágico 8x8                   914.517791
Name: valor_total, dtype: float64

In [78]:
# Facturacion por producto loja4:
loja4.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

Produto
Celular Plus X42               135786.491180
TV Led UHD 4K                  126787.227747
Smart TV                       116264.031235
Geladeira                      105681.051784
Tablet ABXY                     79700.021616
Lava louças                     77734.060310
Lavadora de roupas              73675.181234
Secadora de roupas              59322.813904
Celular ABXY                    56413.694831
Cama king                       52748.198832
Bateria                         48546.285410
Cama box                        46264.111847
Fogão                           45378.104126
Sofá retrátil                   45046.587800
Guitarra                        36232.509935
Micro-ondas                     35919.539139
Bicicleta                       30099.930276
Guarda roupas                   23056.304095
Impressora                      21359.733762
Cômoda                          21301.778499
Cadeira de escritório           20384.672238
Mesa de jantar                  18704.041683
Kit banquetas                   16629.642667
Violão                          15796.370754
Poltrona                        15672.308395
Assistente virtual              14705.670962
Jogo de tabuleiro               13069.618638
Jogo de panelas                 10592.310392
Mesa de centro                  10544.518449
Smartwatch                       9537.926037
Headset                          9005.161314
Mochila                          5971.045461
Carrinho controle remoto         5647.666494
Fone de ouvido                   5511.222039
Pandeiro                         4833.183436
Panela de pressão                4803.710612
Modelagem preditiva              4348.863194
Faqueiro                         3722.577284
Bola de basquete                 3405.863737
Bola de vôlei                    3335.866004
Boneca bebê                      3270.847136
Copo térmico                     3001.340295
Ciência de dados com python      2985.761474
Iniciando em programação         2981.433659
Dashboards com Power BI          2832.749018
Blocos de montar                 2662.077203
Jogo de copos                    2119.165644
Xadrez de madeira                1519.055666
Dinossauro Rex                   1258.152775
Cubo mágico 8x8                  1071.249270
Corda de pular                   1011.725628
Name: valor_total, dtype: float64

In [79]:
# factuiracion mensual(por fecha) convirtiendo la columna de fecha
loja1['Data da Compra'] = pd.to_datetime(loja1['Data da Compra'], dayfirst=True)
loja2['Data da Compra'] = pd.to_datetime(loja2['Data da Compra'], dayfirst=True)
loja3['Data da Compra'] = pd.to_datetime(loja3['Data da Compra'], dayfirst=True)
loja4['Data da Compra'] = pd.to_datetime(loja4['Data da Compra'], dayfirst=True)

In [80]:
# agrupamos por mes:
loja1['mes'] = loja1['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja1 = loja1.groupby('mes')['valor_total'].sum()
print(facturacion_mensual_loja1)

mes
2020-01    46450.156538
2020-02    56277.824817
2020-03    44311.148405
2020-04    47297.899925
2020-05    54174.246292
2020-06    36927.988567
2020-07    49282.134260
2020-08    43732.003233
2020-09    42483.727659
2020-10    29717.376376
2020-11    27929.855349
2020-12    39655.228775
2021-01    35926.459736
2021-02    45794.687783
2021-03    41228.694908
2021-04    31748.451140
2021-05    39063.456284
2021-06    43285.062298
2021-07    51754.066096
2021-08    48934.974025
2021-09    62563.352609
2021-10    38673.590865
2021-11    36735.593587
2021-12    32747.940825
2022-01    36862.625022
2022-02    39035.355708
2022-03    35603.053514
2022-04    31433.973651
2022-05    35219.098362
2022-06    35064.718162
2022-07    38270.172555
2022-08    39062.315913
2022-09    52115.159447
2022-10    20633.307699
2022-11    33218.322782
2022-12    48051.693089
2023-01    40631.791869
2023-02    52313.208975
2023-03    52136.370695
Freq: M, Name: valor_total, dtype: float64

In [81]:
loja2['mes'] = loja2['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja2 = loja2.groupby('mes')['valor_total'].sum()
print(facturacion_mensual_loja2)

mes
2020-01    43731.789859
2020-02    24417.186371
2020-03    42868.567104
2020-04    38817.232181
2020-05    35791.658967
2020-06    36600.112698
2020-07    33105.701013
2020-08    32987.685327
2020-09    43747.753624
2020-10    46693.507332
2020-11    31693.625058
2020-12    39723.828140
2021-01    40970.018090
2021-02    38331.286278
2021-03    34619.237552
2021-04    46296.253347
2021-05    39127.505583
2021-06    32007.087897
2021-07    48610.051477
2021-08    44445.413303
2021-09    42544.943297
2021-10    34044.850034
2021-11    40769.346820
2021-12    51347.256730
2022-01    57133.004926
2022-02    32817.123478
2022-03    33140.271596
2022-04    48603.242316
2022-05    48792.899478
2022-06    33354.104775
2022-07    33170.310773
2022-08    40957.532284
2022-09    46064.021201
2022-10    42753.606218
2022-11    39459.631628
2022-12    46850.061997
2023-01    35365.417119
2023-02    47970.031643
2023-03    38050.060497
Freq: M, Name: valor_total, dtype: float64

In [82]:
loja3['mes'] = loja3['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja3 = loja3.groupby('mes')['valor_total'].sum()
print(facturacion_mensual_loja3)

mes
2020-01    33433.428180
2020-02    38745.889682
2020-03    42153.048244
2020-04    49626.744036
2020-05    36671.779718
2020-06    24514.909419
2020-07    47185.070994
2020-08    36326.624333
2020-09    37427.289766
2020-10    26029.445940
2020-11    32109.569876
2020-12    47476.236878
2021-01    31838.591477
2021-02    28451.540705
2021-03    39286.223936
2021-04    34832.511555
2021-05    37214.139578
2021-06    45153.560491
2021-07    37341.719019
2021-08    48981.586938
2021-09    19819.914221
2021-10    51018.516715
2021-11    68943.120747
2021-12    66904.827651
2022-01    57256.821525
2022-02    34571.972668
2022-03    33562.099071
2022-04    39856.455331
2022-05    44822.941470
2022-06    35673.654323
2022-07    43173.881152
2022-08    39019.961502
2022-09    41232.193027
2022-10    39219.560003
2022-11    42095.450040
2022-12    41736.398198
2023-01    31538.807978
2023-02    24903.289191
2023-03    31897.915643
Freq: M, Name: valor_total, dtype: float64

In [83]:
loja4['mes'] = loja4['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja4 = loja4.groupby('mes')['valor_total'].sum()
print(facturacion_mensual_loja4)

mes
2020-01    27125.082182
2020-02    32171.587557
2020-03    40042.284859
2020-04    55428.204609
2020-05    44908.569369
2020-06    37691.075780
2020-07    37811.962781
2020-08    43808.379958
2020-09    39566.798337
2020-10    24835.578312
2020-11    49487.378405
2020-12    31625.084803
2021-01    33050.566380
2021-02    43480.455921
2021-03    53265.438423
2021-04    56454.837143
2021-05    28627.508960
2021-06    23762.909316
2021-07    49026.593027
2021-08    36376.394190
2021-09    44162.183316
2021-10    38040.629596
2021-11    38403.373729
2021-12    43908.959673
2022-01    48183.504926
2022-02    45552.256529
2022-03    43732.320443
2022-04    29160.075376
2022-05    29517.351144
2022-06    31709.339786
2022-07    20896.230020
2022-08    37688.304221
2022-09    43499.677573
2022-10    27502.426500
2022-11    40160.555197
2022-12    26900.240328
2023-01    27807.813301
2023-02    27594.253800
2023-03    25287.269350
Freq: M, Name: valor_total, dtype: float64

# 2. Vendas por Categoria

In [84]:
loja1.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

Categoria do Produto
eletronicos              603278.238660
eletrodomesticos         510678.320571
moveis                   263505.317336
instrumentos musicais    128243.495861
esporte e lazer           55216.657567
brinquedos                25299.265959
utilidades domesticas     17789.381598
livros                    12336.410244
Name: valor_total, dtype: float64

In [56]:
loja2.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

Categoria do Produto
eletronicos              576858.274761
eletrodomesticos         489499.129045
moveis                   247817.049515
instrumentos musicais    147397.090812
esporte e lazer           48828.896941
brinquedos                22445.828832
utilidades domesticas     20731.111659
livros                    14195.836448
Name: valor_total, dtype: float64

In [85]:
loja3.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

Categoria do Produto
eletronicos              576840.388656
eletrodomesticos         462310.463552
moveis                   282475.234825
instrumentos musicais    108652.544679
esporte e lazer           50020.617735
brinquedos                27258.598348
utilidades domesticas     21163.465865
livros                    13326.377563
Name: valor_total, dtype: float64

In [86]:
loja4.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

Categoria do Produto
eletronicos              575071.180723
eletrodomesticos         397710.750496
moveis                   270352.164504
instrumentos musicais    105408.349534
esporte e lazer           46825.771400
brinquedos                28498.667182
utilidades domesticas     21237.763933
livros                    13148.807345
Name: valor_total, dtype: float64

# 3. Média de Avaliação das Lojas

In [104]:

media_loja1 = loja1['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja1}")

El promedio de puntuacion da loja1 es : 3.976685036032217

In [103]:
media_loja2 = loja2['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja2}")

El promedio de puntuacion da loja1 es : 4.037303942348453

In [102]:
media_loja3 = loja3['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja3}")

El promedio de puntuacion da loja1 es : 4.048325561678677

In [101]:
media_loja4 = loja4['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja4}")

El promedio de puntuacion da loja1 es : 3.9957591178965224

# 4. Produtos Mais e Menos Vendidos

In [ ]:
media

# 5. Frete Médio por Loja