### Importação dos dados

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_1.csv"
url2 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_2.csv"
url3 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_3.csv"
url4 = "https://raw.githubusercontent.com/Nestorcordoba/Challenge_Alura_Store/main/base_de_datos/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

In [44]:
head_loja1 = loja1.head()
head_loja1        # primeras 5 filas

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,mes,valor_total
0,Assistente virtual,eletronicos,219.08,9.249790,2021-01-16,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79,2021-01,228.329790
1,Mesa de jantar,moveis,256.35,11.234305,2022-05-18,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66,2022-05,267.584305
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,2021-03-15,João Souza,DF,1,cartao_credito,1,-15.83,-47.86,2021-03,300.772681
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,2022-05-03,João Souza,RS,4,boleto,1,-30.17,-53.50,2022-05,1064.657344
4,Cadeira de escritório,moveis,446.99,26.964689,2020-11-07,Larissa Alves,MG,5,boleto,1,-18.10,-44.38,2020-11,473.954689

In [8]:
head_loja2 = loja2.head()

In [7]:
head_loja3 = loja3.head()

In [10]:
head_loja4 =loja4.head()

In [13]:
info_loja1 =loja1.info()
info_loja2 =loja2.info()
info_loja3 =loja3.info()
info_loja4 =loja4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2358 non-null   object
 1   Categoria do Produto    2358 non-null   object
 2   Preço                   2358 non-null   float64
 3   Frete                   2358 non-null   float64
 4   Data da Compra          2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Local da compra         2358 non-null   object
 7   Avaliação da compra     2358 non-null   int64
 8   Tipo de pagamento       2358 non-null   object
 9   Quantidade de parcelas  2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

In [38]:
loja1.shape,loja2.shape,loja3.shape,loja4.shape

((2359, 12), (2359, 12), (2359, 12), (2358, 12))

#1. Análise do faturamento

In [19]:
# suponiendo que el flete lo paga el cliente
## Precio del producto + Flete (costo de envío)
# La columna "loja1['valor_total']"" representa la facturación total por cada venta.
loja1['valor_total'] = loja1['Preço'] + loja1['Frete']
loja1['valor_total']

loja2['valor_total'] = loja2['Preço'] + loja2['Frete']
loja2['valor_total']

loja3['valor_total'] = loja3['Preço'] + loja3['Frete']
loja3['valor_total']

loja4['valor_total'] = loja4['Preço'] + loja4['Frete']
loja4['valor_total']

0       1521.064083
1        665.619251
2         31.540000
3         78.610730
4        192.582587
           ...
2353     320.452799
2354     480.832798
2355      52.129675
2356     213.512979
2357      16.622696
Name: valor_total, Length: 2358, dtype: float64

In [29]:
#calculando la facturación total:
facturacion_total_loja1 = loja1['valor_total']


facturacion_total_loja2 = loja2['valor_total']


facturacion_total_loja3 = loja3['valor_total']


facturacion_total_loja4 = loja4['valor_total']
facturacion_total_loja1,facturacion_total_loja2,facturacion_total_loja3,facturacion_total_loja4

(0        228.329790
 1        267.584305
 2        300.772681
 3       1064.657344
 4        473.954689
            ...
 2354    1801.312042
 2355     397.383958
 2356     173.431337
 2357     968.435919
 2358     271.375995
 Name: valor_total, Length: 2359, dtype: float64,
 0        398.621138
 1        105.405334
 2        622.889020
 3       1270.159584
 4        556.237176
            ...
 2354     197.856135
 2355    1713.757994
 2356    1121.027917
 2357    3121.220107
 2358     771.320744
 Name: valor_total, Length: 2359, dtype: float64,
 0       1802.323159
 1        404.990908
 2        427.817592
 3         82.863341
 4        729.338319
            ...
 2354      38.445973
 2355      45.323620
 2356     670.259188
 2357     170.474933
 2358      97.140214
 Name: valor_total, Length: 2359, dtype: float64,
 0       1521.064083
 1        665.619251
 2         31.540000
 3         78.610730
 4        192.582587
            ...
 2353     320.452799
 2354     480.832798
 2355      52.129675
 2356     213.512979
 2357      16.622696
 Name: valor_total, Length: 2358, dtype: float64)

In [31]:
# Facturacion por producto loja1:
facturacion_por_producto_loja1 = loja1.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

In [32]:
# Facturacion por producto loja2:
facturacion_por_producto_loja2 = loja2.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

In [33]:
# Facturacion por producto loja3:
facturacion_por_producto_loja3 = loja3.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

In [34]:
# Facturacion por producto loja4:
facturacion_por_producto_loja4 = loja4.groupby('Produto')['valor_total'].sum().sort_values(ascending=False)

In [35]:
# factuiracion mensual(por fecha) convirtiendo la columna de fecha
loja1['Data da Compra'] = pd.to_datetime(loja1['Data da Compra'], dayfirst=True)
loja2['Data da Compra'] = pd.to_datetime(loja2['Data da Compra'], dayfirst=True)
loja3['Data da Compra'] = pd.to_datetime(loja3['Data da Compra'], dayfirst=True)
loja4['Data da Compra'] = pd.to_datetime(loja4['Data da Compra'], dayfirst=True)

In [21]:
# agrupamos por mes:
loja1['mes'] = loja1['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja1 = loja1.groupby('mes')['valor_total'].sum()

In [22]:
loja2['mes'] = loja2['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja2 = loja2.groupby('mes')['valor_total'].sum()

In [23]:
loja3['mes'] = loja3['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja3 = loja3.groupby('mes')['valor_total'].sum()

In [24]:
loja4['mes'] = loja4['Data da Compra'].dt.to_period('M')
facturacion_mensual_loja4 = loja4.groupby('mes')['valor_total'].sum()

# 2. Vendas por Categoria

In [58]:
ventas_por_categoria_loja1 = loja1.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

In [123]:
ventas_por_categoria_loja2 = loja2.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

In [125]:
ventas_por_categoria_loja3 = loja3.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

In [126]:
ventas_por_categoria_loja4 = loja4.groupby('Categoria do Produto')['valor_total'].sum().sort_values(ascending=False)

In [59]:
ventas_por_categoria_loja1

Categoria do Produto
eletronicos              603278.238660
eletrodomesticos         510678.320571
moveis                   263505.317336
instrumentos musicais    128243.495861
esporte e lazer           55216.657567
brinquedos                25299.265959
utilidades domesticas     17789.381598
livros                    12336.410244
Name: valor_total, dtype: float64

# 3. Média de Avaliação das Lojas

In [104]:

media_loja1 = loja1['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja1}")

El promedio de puntuacion da loja1 es : 3.976685036032217

In [26]:
media_loja2 = loja2['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja2}")

El promedio de puntuacion da loja1 es : 4.037303942348453

In [102]:
media_loja3 = loja3['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja3}")

El promedio de puntuacion da loja1 es : 4.048325561678677

In [27]:
media_loja4 = loja4['Avaliação da compra'].mean()
print(f"El promedio de puntuacion da loja1 es : {media_loja4}")

El promedio de puntuacion da loja1 es : 3.9957591178965224

# 4. Produtos Mais e Menos Vendidos

In [74]:
# productos mas vendidos
'''
1) Contamos cuántas veces aparece cada valor único con la funcion integrada 'value_counts()'
2) Verificamos cual el el producto más vendido con la función integrada 'idxmax()'
3) De los productos contados verificamos cual/les tiene/n el valor máximo con la función integrada 'max()' para saber el numero especifico
'''
cantidad_productos_vendidos_loja1 = loja1['Produto'].value_counts()
nombre_producto_mas_vendido_loja1 = cantidad_productos_vendidos_loja1.idxmax()
valor_maximo_cantidad_vendidos_loja1 = cantidad_productos_vendidos_loja1.max()

print(f"Producto más vendido en loja1: {nombre_producto_mas_vendido_loja1} ({valor_maximo_cantidad_vendidos_loja1} ventas)")

cantidad_productos_vendidos_loja2 = loja2['Produto'].value_counts()
nombre_producto_mas_vendido_loja2 = cantidad_productos_vendidos_loja2.idxmax()
valor_maximo_cantidad_vendidos_loja2 = cantidad_productos_vendidos_loja2.max()

print(f"Producto más vendido en loja2: {nombre_producto_mas_vendido_loja2} ({valor_maximo_cantidad_vendidos_loja2} ventas)")

cantidad_productos_vendidos_loja3 = loja3['Produto'].value_counts()
nombre_producto_mas_vendido_loja3 = cantidad_productos_vendidos_loja3.idxmax()
valor_maximo_cantidad_vendidos_loja3 = cantidad_productos_vendidos_loja3.max()

print(f"Producto más vendido en loja3: {nombre_producto_mas_vendido_loja3} ({valor_maximo_cantidad_vendidos_loja3} ventas)")

cantidad_productos_vendidos_loja4 = loja4['Produto'].value_counts()
nombre_producto_mas_vendido_loja4 = cantidad_productos_vendidos_loja4.idxmax()
valor_maximo_cantidad_vendidos_loja4 = cantidad_productos_vendidos_loja4.max()

print(f"Producto más vendido en loja4: {nombre_producto_mas_vendido_loja4} ({valor_maximo_cantidad_vendidos_loja4} ventas)")

Producto más vendido en loja1: Micro-ondas (60 ventas)
Producto más vendido en loja2: Iniciando em programação (65 ventas)
Producto más vendido en loja3: Kit banquetas (57 ventas)
Producto más vendido en loja4: Cama box (62 ventas)

# 5. Frete Médio por Loja